h1 {
    color: red;
}
.bookcover{
    height: 150px;
    width: auto;
}
a {
    text-decoration: none;
}

body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}



header {
margin-bottom: 2rem;

}
.detail_url{
    text-decoration: none;
    color: red;
}